.section-one {
 
}

.sudo-main {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.sudo-content {
  align-items: center;
  align-self: center;
  align-content: center;
}