     /* ======================================== Reset ======================================== */
     *, *::before, *::after {
      box-sizing: border-box;
   }
   /* ======================================== Basic ======================================== */
    html {
      font-size: 62.5%;
   }
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
   }
    body {
      font-family: 'Source Code Pro', monospace;
      color: #fff;
      background-color: var(--backgroung-col);
   }

   #root {
      height: 100%;
   }
    .mac-terminal {
      background-color: #000;
      border-radius: 5px;
      min-width: 325px;
      max-width: 325px;
      margin: 0 auto;
      margin-top: 10px;
      overflow: scroll;
      margin-bottom: 20px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   }
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 4rem;
      border-bottom: 1px solid rgba(255, 255, 255, .3);
      padding: 0 1.4rem;
   }
    .header__op {
      display: flex;
      align-items: center;
      margin-right: 10px;
   }
    .header__op-icon {
      width: 1.4rem;
      height: 1.4rem;
      border-radius: 50%;
   }
    .header__op-icon:not(:last-child) {
      margin-right: 0.7rem;
   }
    .header__op-icon--red {
      background-color: #ff544d;
      border: 1px solid #da3c37;
   }
    .header__op-icon--yellow {
      background-color: #ffb429;
      border: 1px solid #f0a318;
   }
    .header__op-icon--green {
      background-color: #25c63a;
      border: 1px solid #12a025;
   }
    .header__title {
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.2rem;
   }
    .header__empty {
      width: 5.6rem;
   }
    @keyframes flash {
      0% {
        opacity: 0;
     }
      100% {
        opacity: 1;
     }
   }
    .body {
      font-size: 1.3rem;
   }
    .body__row {
      margin-top: 1.3rem;
      line-height: 1.7rem;
      padding: 0 2rem;
      display: flex;
      align-items: center;
   }
    .body__row-arrow {
      width: 0.8rem;
      height: 0.6rem;
      background-color: #40e800;
      clip-path: polygon(0% 30%, 60% 30%, 60% 0%, 100% 50%, 60% 100%, 60% 70%, 0% 70%);
      margin-right: 0.9rem;
   }
    .body__row-folder {
      color: #56f2e6;
      margin-right: 1rem;
   }
    .body__row-git--label {
      color: #2d9cdb;
   }
    .body__row-git--branch {
      color: #eb5757;
   }
    .body__row-git--branch-detail {
      color: #f2c94c;
   }
    .body__row-git--branch-time {
      color: #27ae60;
   }
    .body__row-git--author {
      color: #2d9cdb;
   }
    .body__row-result {
      margin-left: 1rem;
   }
    .body__row-cursor {
      width: 0.5rem;
      height: 1.5rem;
      background-color: #bb6bd9;
      border: 1px solid #bb6bd9;
      animation: flash 1s ease-in-out infinite;
   }


.body__row pre{
   background-color: unset !important
}

textarea {
   overflow: auto;
   resize: vertical;
}

.form-control {
   display: block;
   width: 100%;
   height: calc(1.5em + 0.75rem + 2px);
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   border-radius: 0.25rem;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

textarea.form-control {
   height: auto;
}

label {
   display: inline-block;
   margin-bottom: 0.5rem;
}
